<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Search results</title>
</head>
<body>
<div class="container">
    <form>
        <label for='q'>Twitter Search</label>
        <input type="text" name="q" id="q" placeholder="Your Twitter Search">
        <button type="submit">Search</button>
    </form>
</div>

    <div class="container">
        <ul class="list-group" id="tweets">
            {% set css_class = 'list-group-item-info' %}

            {% for element in content %}
                {% if element['label'] == 'neg' %}
                    {% set css_class = 'list-group-item-danger' %}
                {% elif element['label'] == 'pos' %}
                    {% set css_class = 'list-group-item-success' %}
                {% endif %}
               <li class="list-group-item {{ css_class }}">{{ element['tweet'] }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
